<h2>Resumen Angular</h2>
<nav>
  <a routerLink="/interpolacion">Interpolacion</a> |
  <a routerLink="/oneWayBinding">One Way Binding</a> |
  <a routerLink="/evento">Evento</a> |
  <a routerLink="/twoWayBinding">Two Way Binding</a> |
  <a routerLink="/servicio">Servicio</a> |
  <a routerLink="/directivas">Directivas</a> |
  <a routerLink="/pasarParametro">Pasar 1 parametro</a> |
  <a routerLink="/pasarParametros">Pasar varios parametro</a> |
  <a routerLink="/padreHijo">Padre a Hijo</a> |
  <a routerLink="/hijoPadre">Hijo a Padre</a> |
</nav>
<router-outlet></router-outlet>