<!--
APARTADO 1
h1#titulo+p+img
Las 3 etiquetas en el mismo nivel
-->
<h1 id="titulo">Queen</h1>
<p>Banda britanica de rock formada en 1970 en londres</p>
<img src="../../assets/imagenes/queen.jpg" alt="queen">

<!--
APARTADO 2
h2.subtitulo+ul>li*4
Las 2 primeras etiquetas al mismo nivel, etiquetas li hijas de ul y se escriben 4
-->
<h2 class="subtitulo">Integrantes del grupo</h2>
<ul>
    <li>Brian May</li>
    <li>Freddie Mercury</li>
    <li>John Deacon</li>
    <li>Roger Taylor</li>
</ul>

<!--
APARTADO 3
h2.subtitulo+table>caption+tr>th*2^tr*3>td*2^tr>td
Las 2 primeras etiquetas al mismo nivel teniendo h2 una clase, elemento caption hijo y tr al mismo
nivel, 2 elementos th, 3 elementos tr por encima de los th, 2 elementos td hijos, 1 elemento
tr por encima de los td y un elemento td hijo
-->
<h2 class="subtitulo">Discografia</h2>
<table>
    <caption>Grandes exitos de Queen</caption>
    <tr>
        <th>Año</th>
        <th>Disco</th>
    </tr>
    <tr>
        <td>1975</td>
        <td>A Night at the Opera</td>
    </tr>
    <tr>
        <td>1986</td>
        <td>A Kind of Magic</td>
    </tr>
    <tr>
        <td>1989</td>
        <td>The Miracle</td>
    </tr>
    <tr>
        <td colspan="2">"A Kind Magic" fue el album más exitoso</td>
    </tr>
</table>

<!--
APARTADO 4
h2.subtitulo+a
Las 2 etiquetas al mismo nivel
-->
<h2 class="subtitulo">Sitio web oficial</h2>
<a href="#">www.queenonline.com</a>